tarefa06/quiz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:q="http://quiz.org"
    targetNamespace="http://quiz.org"
    elementFormDefault="qualified">

    <simpleType name="stringType">
        <restriction base="string"/>
    </simpleType>

    <simpleType name="corretaType">
        <restriction base="string">
            <enumeration value="sim"/>
            <enumeration value="nao"/>
        </restriction>
    </simpleType>

    <element name="disciplina" type="q:stringType"/>
    <element name="nome" type="q:stringType"/>
    <element name="matrícula" type="q:stringType"/>
    <element name="turma" type="q:stringType"/>
    <element name="data" type="q:stringType"/>
    <element name="enunciado" type="q:stringType"/>
    <element name="pontuação" type="q:stringType"/>

    <element name="professor">
        <complexType>
            <sequence>
                <element ref="q:nome"/>
                <element ref="q:matrícula" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>

    <element name="alternativa">
        <complexType>
            <simpleContent>
                <extension base="string">
                    <attribute name="correta" type="q:corretaType" use="required"/>
                </extension>
            </simpleContent>
        </complexType>
    </element>

    <element name="alternativas">
        <complexType>
            <sequence>
                <element ref="q:alternativa" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="questão">
        <complexType>
            <sequence>
                <element ref="q:enunciado"/>
                <element ref="q:pontuação"/>
                <element ref="q:alternativas"/>
            </sequence>
        </complexType>
    </element>

    <element name="questões">
        <complexType>
            <sequence>
                <element ref="q:questão" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="quiz">
        <complexType>
            <sequence>
                <element ref="q:disciplina"/>
                <element ref="q:professor"/>
                <element ref="q:turma"/>
                <element ref="q:data"/>
                <element ref="q:questões"/>
            </sequence>
            <attribute name="versao" type="string" use="required"/>
        </complexType>
    </element>

</schema>